In [10]:
# Câu 1 (1đ): Số hoàn hảo (hay còn gọi là số hoàn chỉnh, số hoàn thiện hoặc số hoàn thành) là một số nguyên dương 
## mà tổng các ước nguyên dương thực sự của nó (các số nguyên dương bị nó chia hết ngoại trừ nó) bằng chính nó.
### In ra số lượng các số là số hoàn hảo trong khoảng giá trị từ 1 cho tới 10000.
#### VD: 6, 28, 496 là các số hoàn hảo.

def Check_so_hoan_hao(n): # Kiểm tra số hoàn hảo
    s = 0
    for i in range(1, n):
        if (n % i) == 0:
            s += i
    if s == n:
        return True
    else:
        return False

c = 0
for i in range(1,10001): # Liệt kê số hoàn hảo trong khoảng từ 1 đến 10000 và đếm
  if Check_so_hoan_hao(i) == True:
    c += 1

print("Số lượng các số hoàn hảo:", c)

Số lượng các số hoàn hảo: 4

In [12]:
# Câu 2 (1đ): In ra 4 giá trị như sau: tổng giá trị của các số nguyên tố, tổng giá trị của các số chẵn,
## tổng giá trị của các số là số chính phương, tổng giá trị của các số là bội số của 10 trong khoảng giá trị từ 1 cho tới 10000.

def Check_so_ngto(x): # Kiểm tra số nguyên tố
  if x <= 1:
    return False
  else:
    y = 0
    for i in range(1,x+1):
      if x%i == 0:
        y += 1
    if y == 2:
      return True
    else:
      return False

def Check_so_chan(x): # Kiểm tra số chẵn
  if x <= 0:
    return False
  if x%2 == 0:
    return True
  else:
    return False

def Check_so_cp(x): # Kiểm tra số chính phương
    if x <= 1:
        return False
    else:
        check = False
        for i in range(1, x + 1):
            if i * i == x:
                check = True
        if check == True:
            return True
        else:
            return False
  
def Check_boi_so_10(x): # Kiểm tra số là bội số của 10
  if x < 10:
    return False
  if x%10 == 0:
    return True
  else:
    return False

a, b, c, d = 0, 0, 0, 0
for i in range(1,10001): 
  if Check_so_ngto(i) == True: # Liệt kê số nguyên tố trong khoảng từ 1 đến 10000 và tính tổng
    a += i
  if Check_so_chan(i) == True: # Liệt kê số chẵn trong khoảng từ 1 đến 10000 và tính tổng
    b += i
  if Check_so_cp(i) == True: # Liệt kê số chính phương trong khoảng từ 1 đến 10000 và tính tổng
    c += i
  if Check_boi_so_10(i) == True: # Liệt kê số chính phương trong khoảng từ 1 đến 10000 và tính tổng
    d += i

print("Tổng giá trị của các số nguyên tố:",a)
print("Tổng giá trị của các số chẵn:",b)
print("Tổng giá trị của các số chính phương:",c)
print("Tổng giá trị của các số là bội số của 10:",d)

Tổng giá trị của các số nguyên tố: 5736396
Tổng giá trị của các số chẵn: 25005000
Tổng giá trị của các số chính phương: 338349
Tổng giá trị của các số là bội số của 10: 5005000

In [11]:
# Câu 3 (0.5 đ): Lấy thông tin về Mã đơn hàng, mã sản phẩm, mã khách hàng, số lượng sản phẩm 
## của những dòng dữ liệu thỏa điều kiện Ship Mode là Standard Class

import pandas as pd
import numpy as np

sales = pd.read_csv('D:\Data analyst\sales.csv')

sales[sales['Ship_Mode'] == 'Standard Class'][['Order_ID', 'Product_ID', 'Customer_ID', 'Quantity']]

            Order_ID       Product_ID Customer_ID  Quantity
3     US-2015-108966  FUR-TA-10000577    SO-20335         5
4     US-2015-108966  OFF-ST-10000760    SO-20335         2
5     CA-2014-115812  FUR-FU-10001487    BH-11710         7
6     CA-2014-115812  OFF-AR-10002833    BH-11710         4
7     CA-2014-115812  TEC-PH-10002275    BH-11710         6
...              ...              ...         ...       ...
9987  CA-2017-163629  TEC-AC-10001539    RA-19885         1
9988  CA-2017-163629  TEC-PH-10004006    RA-19885         5
9990  CA-2017-121258  FUR-FU-10000747    DB-13060         2
9991  CA-2017-121258  TEC-PH-10003645    DB-13060         2
9992  CA-2017-121258  OFF-PA-10004041    DB-13060         4

[5968 rows x 4 columns]

In [7]:
# Câu 4 (0.5 đ): Lấy thông tin về mã đơn hàng của những dòng dữ liệu thỏa mãn điều kiện tồn tại một loại sản phẩm (Product ID) 
## thuộc nhóm category là Office Supplies và có quantity > 3

sales[(sales['Category'] == 'Office Supplies') & (sales['Quantity'] > 3)][['Order_ID']].drop_duplicates()

            Order_ID
6     CA-2014-115812
14    US-2015-118983
16    CA-2014-105893
20    CA-2014-143336
21    CA-2016-137330
...              ...
9974  US-2016-103674
9981  CA-2017-163566
9982  US-2016-157728
9984  CA-2015-100251
9992  CA-2017-121258

[2058 rows x 1 columns]

In [13]:
# Câu 5 (0.5đ) : Thống kê số lượng mã đơn hàng, số lượng các loại sản phẩm (product ID), tổng doanh thu 
## và tổng lợi nhuận theo từng Category, sắp xếp theo thứ tự giảm dần của doanh thu
A = sales.groupby('Category').agg({"Order_ID": pd.Series.nunique,
                                   "Product_ID": pd.Series.nunique,
                                   "Sales": np.sum,
                                   "Profit": np.sum}).reset_index()

A.sort_values(by='Sales', ascending=False)

          Category  Order_ID  Product_ID      Sales     Profit
2       Technology      1544         404  836154.10  145455.66
0        Furniture      1764         375  741999.98   18451.25
1  Office Supplies      3742        1083  719046.99  122490.88